.pdficon {
	  padding: 15px;
    width: 60px;
    margin-top: auto;
    margin-right: inherit;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.pdficon:hover {
	cursor: pointer;
}

.doc-box {
	border: 1px solid black;
	border-radius: 10px;
	margin: 30px;
	display: flex;
	flex-direction: row;
		background-color: rgb(255, 255, 255, 0.75);

}

.text {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.docs {
	display: flex;
	flex-direction: column;
}
.doc-intro-text {
	text-align: center;
	padding: 20px;
}