.message-card {
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: rgb(255, 255, 255, 0.75);
	margin: 20px;
	border: 1px solid black;
		border-radius: 5px;

}

.message {
	padding:10px;
	font-size: 20px;
}
.username {
	font-size: 15px;
	padding:10px;
}