.Dashboard {
	height:100%;
	margin:2rem 0;
}

.Dashboard h1 {
	width:100%;
	text-align: center;
	z-index: 100;
	
}

.role-breakdown {
	width:90%;
	margin:2.5rem auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
  justify-content: center;
  
  
}

.main-score {
	margin:20px;
	padding:40px;
	position: relative;
	box-sizing: border-box;
	height:300px;
}

.main-score .score-label {
	background:linear-gradient(#03A896, #008090) ;
	box-sizing: border-box;
	width:100%;
	position: absolute;
	top:-18px;
	left:0;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color:white;
	font-weight: bold;
}


h3 {
	text-align: center;
	/* padding: 20px; */
}

.paper {
	box-sizing: border-box;
	padding:10px 20px;
	border-radius: 10px !important;
	position: relative;
	height:350px;
	min-width:550px;
	margin:10px 20px;
}

.paper .score-label {
	background:linear-gradient(#03A896, #008090) ;
	box-sizing: border-box;
	width:105%;
	position: absolute;
	bottom:-18px;
	left:-2.5%;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color:white;
	font-weight: bold;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.step-title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-40px;
	left: 60px;
	background-color:#1C808F ;
	padding: 0 10px;
	border-radius: 10px;
}
.step-title h1 {
	margin:5px;
	color:white;
	text-transform: uppercase;
	font-size:32px;
background-color:#1C808F ;
; 
}
.row p {
	width:272px;
}
.messages {
	width:100%;
	margin: auto;
	padding-top:50px;
	background-color:#1C808F;
	height:700px;
position: relative;
}

.messages-container {
	margin:auto;
	width:80%;
	height:600px;
	overflow-y: scroll;
}

@media (max-width:768px) {

	.main-score {
		max-width:90%;
		margin:auto;
		height:100%;
	}
	.row {width:100%;}

	.role-breakdown {
		width:100%;
		
		flex-direction: column;
	}

	.paper {
	box-sizing: border-box;
	padding:20px;
	border-radius: 10px !important;
	position: relative;
	min-width:90%;
	min-height:fit-content;
	
	
	
}
	.paper .score-label {
	background:linear-gradient(#03A896, #008090) ;
	box-sizing: border-box;
	width:105%;
	position: absolute;
	top:-18px;
	left:-2.5%;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color:white;
	font-weight: bold;
	
}

}