.main-text {
	
	height:80vh;
	padding: 20px 50px;
	text-align: center;
	background-image: linear-gradient(#fafafa10, #dad7d600), url("https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=550&w=1260");
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}

.main-text h1 {
	color: #1C808F;
	font-size: 2rem;
	
}


.main-text .covid-bulitin {
	width:60%;
	height:300px;
	background-color: rgba(255, 255, 255, 0.89);
	position: relative;
	border-radius: 10px;
}

.main-text .covid-bulitin h3 {
	text-align: left;
	padding-left:10px;
}

.main-text .begin-prompt {
	height:100%;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.main-text .begin-prompt h1 {
	
	padding:10px;
	background-color:#1C808F;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;;
}

.main-text .begin-prompt .arrow{
font-size:4rem;
color: #1C808F;
}

.step-3 {
	height:80vh;

	position: relative;
		background-image: url('https://images.pexels.com/photos/846080/pexels-photo-846080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
		background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top; 
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	
}
.step-3 .step-title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-30px;
	left: 60px;
	 background-color:#1C808F; 

	width: 200px;
	height:40px;
	padding:10px;
	border-radius: 10px;
	
}
.badge {
	position: absolute !important;
	left:-10px;
	top:-20px;
	font-size:26px !important;
}

.step-title h1 {
	color:white;
	text-transform: uppercase;
	font-size:32px;
}
.col-email {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-email p {
	margin:2px;
	padding:2px;
}
.email-notification {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow:inset 2px 1px 2px 2px rgba(185, 183, 183, 0.719);
	box-sizing: border-box;
	padding:5px;
	height:130px;
	width:90%;
	margin:auto;
	overflow-y: scroll;
	
	

}


.email-notification p {
	padding:8px;
	cursor: pointer;
}
.email-notification p:active {
	background-color: rgba(182, 180, 180, 0.438);
}
.email-notification p span{
	
	font-style: italic;
}

@media ( max-width:1000px) {

.main-text .begin-prompt h1 {
	
	font-size:16px;
}


}


@media (max-width:768px) {
	.step-3 .step-title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-30px;
	left: 25%;
	 background-color:#1C808F; 

	width: 50%;
	height:40px;
	padding:10px;
	border-radius: 10px;
	
}
.main-text .covid-bulitin {
	padding:10px;
	height:fit-content;
	margin:auto;
	background-color: rgba(255, 255, 255, 0.89);
	border-radius: 10px;
}
.main-text {
	margin:0;
	height:85vh;
	text-align: center;
	background-image: linear-gradient(#fafafa10, #dad7d600), url("https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=550&w=1260");
	padding:0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-text .begin-prompt {
	
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
}