.section-container {
	height:85vh;
	padding: 20px 50px;
	text-align: center;
	background-image: linear-gradient(#fafafa10, #dad7d600), url("https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=550&w=1260");
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}

.section-container .section-welcome-message {
	color: #1C808F;
	font-size: 2rem;
}


.section-container .notification-bulitin {
	width:60%;
	padding:20px;
	background-color: rgba(255, 255, 255, 0.89);
	position: relative;
	border-radius: 10px;
}
.section-container .notification-bulitin h3 {
	text-align: left;
	padding-left:10px;
}

.badge {
	position: absolute !important;
	left:-10px;
	top:-20px;
	font-size:26px !important;
}



.section-container .begin-prompt {
	height:100%;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.col-email {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-email p {
	margin:2px;
	padding:2px;
}
.email-notification {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow:inset 2px 1px 2px 2px rgba(185, 183, 183, 0.719);
	box-sizing: border-box;
	padding:5px;
	height:130px;
	width:90%;
	margin:auto;
	overflow-y: scroll;

}

.email-notification p {
	padding:8px;
	cursor: pointer;
}
.email-notification p:active {
	background-color: rgba(182, 180, 180, 0.438);
}
.email-notification p span{
	
	font-style: italic;
}
.section-container .begin-prompt h1 {
	
	padding:10px;
	background-color:#1C808F;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	z-index: 1;
}

.section-container .begin-prompt .arrow{
font-size:4rem;
color: #1C808F;
}
.space {
	height: 700px;
}

.step-3 {
	height:100%;

	position: relative;
		background-image: url('https://images.pexels.com/photos/846080/pexels-photo-846080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
		background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top; 
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	
}
 .step-3 .step-title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-30px;
	left: 60px;
	 background-color:#1C808F; 

	width: 200px;
	height:40px;
	padding:10px;
	border-radius: 10px;
	
} 



@media ( max-width:1000px) {

.section-container .begin-prompt h1 {
	
	font-size:16px;	
}


}


@media (max-width:768px) {

	.email-notification {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	box-shadow:inset 2px 1px 2px 2px rgba(185, 183, 183, 0.719);
	box-sizing: border-box;
	padding:5px;
	height:80px;
	width:90%;
	margin:auto;
	overflow-y: scroll;

}

	.section-container .section-welcome-message {
	color: #1C808F;
	font-size: 16px;
}
	.step-3 .step-title {
	
	top:-30px;
	left: 25%;
	 background-color:#1C808F; 

	width: 50%;
	height:40px;
	padding:10px;
	border-radius: 10px;
	
}

.badge {
	position: absolute !important;
	left:-10px;
	top:-20px;
	font-size:16px !important;
}


.section-container .notification-bulitin {
	font-size:10px;
	padding:5px;
	height:fit-content;
	
	background-color: rgba(255, 255, 255, 0.89);
	border-radius: 10px;
	width:90%;
}
.section-container {
	margin:0;
	height:85vh;
	text-align: center;
	background-image: linear-gradient(#fafafa10, #dad7d600), url("https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=550&w=1260");
	padding:0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-container .begin-prompt {
	
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.section-container .begin-prompt .arrow{
	font-size: 10px;

}

.step-3 {
	height:100%;
	background-image: linear-gradient(#1C808F,#1C808F)
}

 .step-3 .step-title {

	top:-30px;
	left: 25%;
	 

	width: 50%;
	
	padding:10px;
	border-radius: 10px;
	
} 
 .step-3 .step-title h1{
margin:0;
padding:0px;
font-size: 26px;
	
} 

.begin-prompt {
	display: none;
}
.email-notification {
	
	padding:2.5px;
	height:100px;
	width:90%;
	
	overflow-y: scroll;

}

.email-notification p {
	padding:2px;
	cursor: pointer;
}
.email-notification p:active {
	background-color: rgba(182, 180, 180, 0.438);
}
.email-notification p span{
	
	font-style: italic;
}

}

@media (max-width:500px) {
	.section-container .begin-prompt {
	
	display: none;

}

}
@media (max-height:990px) {


.section-container {
	min-height:85vh;
	height:auto;
}
}

