  
/* container  */
.Dashboard-container {
	height:100%;
	margin:2rem 0;
}

.dashboard-title {
	width:100%;
	text-align: center;
	
}
/* main score   */
.overall-score {
	margin:auto;
	padding:40px;
	position: relative;
	box-sizing: border-box;
	height:300px;
	width:1150px;
}
.overall-score .overall-score-label {
	background:linear-gradient(#03A896, #008090) ;
	box-sizing: border-box;
	width:100%;
	position: absolute;
	top:-18px;
	left:0;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color:white;
	font-weight: bold;
}


/* container for 3 other scores   */
.role-score-breakdown-container {
	width:90%;
	margin:2.5rem auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
  justify-content: center;
  
  
}


/* individual cards*/

.individial-score-card {
	box-sizing: border-box;
	padding:10px 20px;
	border-radius: 10px !important;
	position: relative;
	height:350px;
	min-width:550px;
	margin:10px 20px;
}

.individial-score-card .card-label {
	background:linear-gradient(#03A896, #008090) ;
	box-sizing: border-box;
	width:105%;
	position: absolute;
	bottom:-18px;
	left:-2.5%;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color:white;
	font-weight: bold;
}

/*  messages */

.messages-container {
	width:100%;
	margin: auto;
	padding-top:50px;
	background-color:#1C808F;
	height:759px;
position: relative;
}


.messages-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-30px;
	left: 60px;
	background-color:#1C808F;
	
	height:40px;
	padding:10px;
	border-radius: 10px;
	
}

.messages-title-3 {
	text-align: center;
	color:white;
	text-transform: uppercase;
	font-size:32px;
	padding:4px 0;

}

.messages {
	margin:auto;
	width:80%;
	height:600px;
	overflow-y: scroll;
}

@media (max-width:768px) {

	.overall-score {
		max-width:90%;
		margin:auto;
		height: fit-content;
		
	}


	.role-score-breakdown-container {
		width:100%;
		flex-direction: column;
	}

	.individial-score-card {
	box-sizing: border-box;
	padding:20px;
	border-radius: 10px !important;
	position: relative;
	min-width:90%;
	min-height:fit-content;
	
	
	
}
	.individial-score-card .card-label {
	background:linear-gradient(#03A896, #008090) ;
	box-sizing: border-box;
	width:105%;
	position: absolute;
	top:-18px;
	left:-2.5%;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color:white;
	font-weight: bold;
	
}

.messages-title-container {
	left: 20%;
}

.messages-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-30px;
	left: 5%;
	background-color:#1C808F;
	
	min-width:90%;
	padding:0px;
	border-radius: 10px;
	
}


}


@media (max-width:1300px){
	.overall-score {
	margin:auto;
	padding:40px;
	position: relative;
	box-sizing: border-box;
	width:550px;
}
}