.navbar {
	display: flex;
	flex-direction: column
}
.NavBar-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	/* padding: 10px; */
}

.Logo {
	width: 20vw;
	text-align: center;
	margin: auto;
}

.NavBar-links .Links {
	height: 100%;
	width: 70%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
}

.NavBar-links .Links .navlinks {
	list-style: none;
	text-decoration: none;
	border-bottom: 0px solid white;
}

.active {
	border-bottom: 2px solid white;
	color: white;
}
