.Navbar {
	width:100%;
	height:10vh;
	display: flex;
	background-color: #1C808F;
}

.Navbar .Logo-container {
	width:250px;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Navbar .Logo-container .Logo {
	height:80%;
	max-width:125px;
	margin:auto;
}

.Navbar .Navbar-links {
	width:100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Navbar .Navbar-links .navlinks {
	margin: 0 1rem;
	color:white;
	display:flex;
	justify-content: space-between;
	align-items: center;

}
.Navbar .Navbar-links .navlinks:active {
	color:white;
}

.Navbar .Navbar-links .navlinks .nav-icon{
padding:.2rem;
}


@media (max-width:768px) {
	.Navbar .Navbar-links .navlinks {
	font-size:12px;
	margin:2px;

}
}