.resource-page {
	width: 100vw;
	display: grid;
  grid-template-columns: 33% 1fr;
  grid-template-rows: 1fr 10fr;
  gap: 1px 1px;
	grid-template-areas: "title title" "menu content";
	height: 80vh;
align-items: center;
}

.resource-page h2 {
	grid-area: title;
	padding: 30px;
}

h3 {
	grid-column-start: 1;
	grid-column-end: -1;
}

.resource-menu {
	display: flex;
	flex-direction: column;
text-align: center;
	height: max-content;
	grid-column-start: 1;
	grid-row-start: 2;
	margin: 20px;
}
.resource-menu button {
border-radius: 10px;
width: 100%;
padding: 10px;
background-color: white;
margin: 10px;
font-size: 16px;
transition: background-color 0.5s ease;
}

.resource-menu button:hover {
	cursor: pointer;
	background-color: #1C808F;
	color: white;
	
}

.step-title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-30px;
	left: 60px;
	background-color:#1C808F;
	width: 200px;
	height:40px;
	padding:10px;
	border-radius: 10px;
	
}

.step-title h1 {
	color:white;
}
.resource-content {
		grid-column-start: 2;
		grid-row-start: 2;
		margin: 20px;
}

.resource-content p {
padding: 20px;
	text-align: center;
background-color: rgba(255, 255, 255, 0.7);
border-radius: 10px;
}



.resource-animation-enter {
  opacity: 0;
	transform: translateX(150px)
}
.resource-animation-enter-active {
	opacity: 1;
	transform: translateX(0px);
  transition: opacity 200ms, transform 350ms;
}
.resource-animation-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transform: translateX(350px);
	transition: opacity 350ms, transform 350ms;
}

.arrow {
	color: black;
}
.resource-content a {
	 color: black;
	 font-weight: bold;
	 transition: color 0.2s ease;

}
.resource-content a:hover {
	color: #1C808F
}