.MoodScore {
	display: flex;
	
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	padding: 50px ;
	position: relative;

}

.MoodScore p {
	width:60%;
	text-align: center;
	font-size:20px;
	color:#1C808F;
	
}
.MoodScore button {
	font-size: 20px;
	padding:5px;
	background-color: #1C808F;
	border-radius: 10px;
	color:white;
	
}
.MoodScore button:hover {
	box-shadow: 3px 3px 3px grey;
}
.Checkbox {
	display: none;
}
.Switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	background-color: #eee;
	border-radius: 20px;
	margin: 10px;
}
.Switch::after {
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: white;
	top: 1px;
	left: 1px;
	transition: all 0.3s;
}
.Checkbox:checked + .Switch::after {
	left: 20px;
}
.Checkbox:checked + .Switch {
	background-color: #1C808F;
}
.MoodScore textarea {
	width: 70%;
	height: 200px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 16px;
	border: 2px solid #1C808F;
	border-radius: 10px;
}


.MoodScore .step-title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:-30px;
	right: 60px;
	background-color:white;
	width: 200px;
	height:40px;
	padding:10px;
	border-radius: 10px;
	
}

.MoodScore .step-title h1 {
	color:#1C808F;
	text-transform: uppercase;
	font-size:32px;
}

.thankyou-message {
	height:700px;
}

@media (max-width:768px) {
.MoodScore p {
	width:80%;
	text-align: center;
	font-size:14px;
	color:#1C808F;
	
}

.MoodScore {

	padding: 10px ;
	
	margin-bottom: 30px;
}

.MoodScore .step-title {
	top:-30px;
	right: 25%;
	width: 50%;
	 
	padding:5px;
	border-radius: 10px;
	
}

.MoodScore .step-title h1 {
	color:#1C808F;
	text-transform: uppercase;
	font-size:26px;
}
.MoodScore span {
	text-align: center;
	font-size: 14px;
	color:#1C808F;
	padding-bottom:5px;
}
}