.thankyou-message {
	max-width: 100vh;
	margin: auto;
	padding: 20px;
	background-color: white;
}
.thankyou-text {
	margin: auto;
	text-align: center;
	padding: 40px;
}
.back-btn {
  margin: auto;
  padding-top: 100px;
  text-align: center;
}